<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <article class="product">
        <h1>Yatch</h1>
        <h3>Price: 856.000€</h3>
        <img src="https://yachtharbour.com/static/images/y/large_146_0d06c.jpg" />
    </article>

    <nav>
        <ul>
            <li><a href="/">Back to Homepage</a></li>
        </ul>
    </nav>

</body>
</html> 