<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <article class="product">
        <h1>Boat</h1>
        <h3>Price: 100€</h3>
        <img src="https://m.media-amazon.com/images/I/71iLHfq8yPL._AC_SL1500_.jpg" />
    </article>

    <nav>
        <ul>
            <li><a href="/">Back to Homepage</a></li>
        </ul>
    </nav>

</body>
</html> 