body {
    background-color: rgb(255, 173, 214);
    text-align: center;
}

ul {
    list-style: none;
}

.product-summary {
    border: 1px solid #333;
    margin: 1rem;
    padding: 1rem;
}

.product img {
    max-width: 50%;
    border-radius: 2rem;
}

